@{
    ViewData["Title"] = "Home";
}

    <main class="site-wrapper">
        <div class="pt-table">
        <div class="pt-tablecell page-home relative" style="background-image: url(@(Url.Content("~/images/kcred.jpg")));">
                @*<div class="overlay"></div>*@

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                            <div class="page-title home text-center">
                            @*<img src="./images/kcBlue.jpg" alt="Kansas City skyline" style="height: calc(100vh - 4px);">*@
                            <h3 style="color:cornsilk"><strong>Full-Stack Development brought to you by Kurtis Caldwell</strong></h3>
                            </div>

                            <div class="hexagon-menu clear">
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("Welcome", "Home")" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-dial"></i>
                                            </span>
                                            <span class="title">WELCOME</span> <!--Might be an extra page or could do something with it-->
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                  fill="#1e2530"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("About", "Home")" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-profile-male"></i>
                                            </span>
                                            <span class="title">About</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("Recognition", "Home")" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-tools-2"></i>
                                            </span>
                                            <span class="title">recognition</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("Resume", "Home")" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-tools"></i>
                                            </span>
                                            <span class="title">Resume</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("Portfolio", "Home")" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-briefcase2"></i>
                                            </span>
                                            <span class="title">Portfolio</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("Links", "Home")" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-chat"></i>
                                            </span>
                                            <span class="title">Links</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("Contact", "Home")" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-envelope2"></i>
                                            </span>
                                            <span class="title">Contact</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div> <!-- /.hexagon-menu -->

                        </div> <!-- /.col-xs-12 -->

                    </div> <!-- /.row -->
                </div> <!-- /.container -->

            </div> <!-- /.pt-tablecell -->
        </div> <!-- /.pt-table -->
    </main> <!-- /.site-wrapper -->
