
@{
    ViewData["Title"] = "Links";
}

<main class="site-wrapper">
    <div class="pt-table">
        <div class="pt-tablecell page-quotes relative">
            <!-- .close -->
            <a href="@Url.Action("Index", "Home")" class="page-close"><i class="tf-ion-close"></i></a>
            <!-- /.close -->

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div class="page-title text-center">
                            <h2>My <span class="primary">Class links</span><span class="title-bg">Centriq</span></h2>
                            <p>Centriq August 1st - November 11th 2022 Full-Stack Developer Program.</p>
                            <br />
                            <p><strong>Swipe left/right or click on the circles below to cycle through my classmates</strong></p>
                        </div>
                    </div>
                </div> <!-- /.row -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="testimonials">
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Casey.jpg")))">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Casey Brown</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.somethingcachey.com/" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/casey-brown-wd/" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Brittany.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Brittany Dodd</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.BrittanyDodd.net" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/brittany-dodd-230467249/" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Sean.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                        <a href=""></a>
                                    </div>
                                    <figcaption>
                                        <h4>Sean Coyan</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.SeanCoyan.com" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/seancoyan/" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Zach.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Zach Barkoviak</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.ZachBarkoviak.com" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/zachary-barkoviak-21b2b8249/" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/John.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>John Walls</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.JPWalls.com" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/john-w-0151b31b3" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Storm.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Storm Agnew</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.StormyCoding.com" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/storm-agnew-88396224b/" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Paige.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Paige Scott</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.ReadyPaigeOne.com" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/think-paige-scott" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Tanner.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Tanner Lampson</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.TannerMatthew.dev" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/tanner-matthew-dev" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Dawson.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Dawson Meier</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.DawsonMeierDev.net" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/dawson-meier-b9781a238/" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Devin.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Devin Kuhlman</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.DevinKuhlman.com" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/devin-kuhlman-9abb87222/" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Dylan.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Dylan Poole</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.DylanPoole.com" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/dylan-poole-141602241/" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Jacquelyn.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Jacquelyn Little</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.JacquelynLittle.com" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/jacquelyn-little-937497249" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Juno.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Juno Lewis</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.JLewisInquiry.com" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/juno-lewis-825714247/ " target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <figure class="thumb">
                                    <div class="tm-hex" style="background-image: url(@(Url.Content("~/images/Matt.jpg")));">
                                        <div class="hexTop"></div>
                                        <div class="hexBottom"></div>
                                    </div>
                                    <figcaption>
                                        <h4>Matthew Jennings</h4>
                                        <span>Centriq Full-Stack Program Graduate</span>
                                    </figcaption>
                                </figure>
                                <div class="text">
                                    <p>
                                        <a href="http://www.MatthewJennings.net" target="_blank">Website</a>
                                    </p>
                                    <p>
                                        <a href="https://www.linkedin.com/in/matt-jennings-9bb1061b2" target="_blank">LinkedIn</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container -->

            <nav class="page-nav clear">
                <div class="container">
                    <div class="flex flex-middle space-between">
                        <span class="prev-page"><a href="@Url.Action("Portfolio", "Home")" class="link">&larr; Prev Page</a></span>
                        <span class="copyright">Copyright &copy; @DateTime.Now.Year, Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a>.</span>
                        <span class="next-page"><a href="@Url.Action("Contact", "Home")" class="link">Next Page &rarr;</a></span>
                    </div>
                </div>
                <!-- /.page-nav -->
            </nav>
            <!-- /.container -->

        </div> <!-- /.pt-tablecell -->
    </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->
